@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
body { 
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter";
  font-size: 16px;
  line-height: 24px;
  color: #2D3440;
  background-color:  #FEAFC3;
}
.page-header-logo{
  width: 137px;
  height: 56px;
}
.button-all {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px; 
  text-align: center;
  text-decoration:none; 
}
.button-order {
  color: #2D3440;
  background-color: #FCFCFC;
}
.button-form{
  color: #FCFCFC;
  background-color:#FF2F64; 
}
/* Pages */
.navigation {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}
.navigation-container{
  display: flex;
  width: 553px;
  justify-content:space-between;
}
.navigation-list {
  margin: 0;
  width: 400px;
  padding: 0;
}
.navigation-user{
  max-width: 431px;
  margin-left: auto;
}
.navigation-news-item-list{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}
.navigation-link {
  font-family: "Inter", sans-serif;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: inherit;
  text-decoration:none;
}
.main-container {
  flex-grow: 1;
}
.pade-container {
 width: 1170px;
 margin: 0 auto;
}
.contacts-phone {
  font-family: "Inter", sans-serif;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  text-decoration:none;
}
.best-ice-cream-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}
.best-ice-cream-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px; 
}
.promotions-header{
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}
.index-columns{
  display: flex;
  justify-content: space-between;
  padding: 0 ;
}
.promotions-list{
  display: flex; 
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
}
.promotions-item{
 background-color: #FF7799;
 width: 570px;
 /* height: 268px; */
}
.promotions-item-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.promotions-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.popular-ice-cream-heder {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.catalog-ice-cream-list {
  margin: 0;
  padding: 0;
  text-align: center;
}
.catalog-ice-cream-item{
  width: 270px;
  background-color:#FCFCFC;
}
.catalog-ice-cream-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
.catalog-ice-cream-description { 
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}
.catalog-ice-cream-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.production{
  background-image: url("../images/index/wafer.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.production-wrapper{
  margin: 0 auto;
  width: 1122px;
  background-color: #FCFCFC;
}
.production-header {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}
.production-ice-cream {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
}
.blog-subscription-wrapper{
  display: flex;
  justify-content: space-between;
}  
.blog{
  background-image: url("../images/index/blog.jpg");
  background-repeat: no-repeat;
  width: 570px;
  background-size: 100%;
}
.blog-news {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #565C66;
}
.blog-infor {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.subscription{
  background-image: url("../images/index/mail.jpg");
  background-repeat: no-repeat;
  width: 570px;
}
.subscription-wrapper{
  margin: 0 auto;
  width: 560px;
  background: #FFFFFF;
}
.subscription-news {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
}
.delivery{
  background-image: url("../images/index/delivery.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.delivery-header {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}
.delivery-terms {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
}
.delivery-address {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
}

.delivery-form {
  font-weight: 700;
  line-height: 20px;
}
.contacts{
  background-image: url("../images/index/Address.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.contacts-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66
}
.contacts-address-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
}
.contacts-phone-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  font-style: normal;
}
.contacts-phone {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
}
.contacts-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #565C66;
}
.page-footer-container{
  display: flex;
  width: 1170px;
  margin: 0 auto;
}
.page-footer-list{
  width: 200px;
  margin-right: 130px;
}
.company-information-item-bold{
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
.company-information-item{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.about-text{
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #2D3440;
}
.company-information-container{
font-style: normal;
}
.page-footer-logo-container{
  margin-left: auto;
  max-width: 193px;
}






/* Catalog */
.navigation-link-current{
  color: #FCFCFC;
  background-color:#FF2F64; 
}
  .cart-button{
  color: #FCFCFC;
  background-color:#FF2F64;
}
.navigation-logo{
  width: 137px;
  height: 56px;
}

.breadcrumbs-link{
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}
.breadcrumbs-header-ice-cream{
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}
.select-control{
  font-size: 14px;
  line-height: 20px;
}
.button-catalog{
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
.catalog-filter-title{
  font-size: 14px;
  line-height: 20px;
}
.button button-all{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FCFCFC;
  background-color:#FF2F64; 
}
.catalog-pagination-link {
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
}
.htmlacademy-link{
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #2D3440;
}
