@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter";
  font-size: 16px;
  line-height: 24px;
  color: #2D3440;
  background-color: #FEAFC3;
}

.page-header-logo {
  display: flex;
  align-items: center;
  width: 137px;
  height: 56px;
  margin: auto 16px auto 0;
}

.button-all {
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  align-items: center;
  padding: 12px 32px;
  border-radius: 26px;
  border: none;
  cursor: pointer;
}

.button-order {
  color: #2D3440;
  background: #FCFCFC;
  outline: 4px solid  rgba(252, 252, 252, 0.5);
  border-radius: 4rem;

}

.button-order:hover {
  color: #2D3440;
  background: rgba(252, 252, 252, 0.5);
  box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15);
  outline: 3px solid #FCFCFC;

}

.button-order:active {
  color: #2D3440;
  background: #FCFCFC;
  outline: 4px solid #2D3440;
}

.button-order:focus {
  color: #2D3440;
  background: rgba(252, 252, 252, 0.5);
  outline: 4px solid #2D3440;
}

.button-order:disabled {
  color: #FCFCFC 40%;
  background: #E7E7E7;
  outline: 4px solid rgba(252, 252, 252, 0.4);
}

.button-order:default {
  color: #2D3440;
  background-color: #FCFCFC;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button-form {
  color: #FCFCFC;
  background-color: #FF2F64;
  outline: 4px solid rgba(255, 47, 100, 0.3);;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button-form:hover {
  color: #2D3440;
  background: rgba(252, 252, 252, 0.3);
  outline: 4px solid #FF2F64;
}

.button-form:focus {
  background: #FF2F64;
  outline: 2px solid #2D3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button-form:active {
  background: #FEAFC3;
  outline: 2px solid #2D3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.button-form:disabled {
  background: #B9B9B9;
  outline: 4px solid rgba(185, 185, 185, 0.3);
}

/* Fields */

.field {
  font: inherit;
  line-height: 20px;
  margin-top: 0;
  padding: 13px 15px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
}

.field::placeholder {
  color: #B9B9B9;
}

/* Pages */
.navigation {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}

.navigation-container {
  display: flex;
  width: 553px;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 400px;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  width: 739px;
  margin-left: auto;
  justify-content: right;
}

.navigation-news-item-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;

}

.navigation-link {
  position: relative;
  padding: 8px 16px;
  margin: 34px 0;
  display: block;
  font-family: "Inter", sans-serif;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.navigation-user .navigation-link {
  min-height: 20px;
  max-width: 115px;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 27px;
  padding: 6px 16px;
  margin-left: 16px;
}

.navigation-user .navigation-link:hover {
  background: rgba(252, 252, 252, 0.5);
}

.navigation-user .navigation-link:focus {
  background: rgba(252, 252, 252, 0.5);
  border: #2D3440;
}

.navigation-user .navigation-link:active {
  background: rgba(252, 252, 252, 1);
}

.navigation-icon {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.navigation-social{
  outline: 2px solid  rgba(252, 252, 252, 0.5);
  border-radius: 2rem;
}

.navigation-user .navigation-link-svg {
  padding-left: 38px;
}

.navigation-link-svg .navigation-icon {
  right: auto;
  left: 16px;
  margin: auto 0;

}

.navigation-contacts-phone {
  font-family: "Inter", sans-serif;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  text-decoration: none;
  display: block;
  margin: 42px 0;
}



.main-container {
  flex-grow: 1;
}

.pade-container {
  width: 1170px;
  margin: 0 auto;
}

.best-ice-cream {
  position: relative;
}

.best-ice-cream-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.best-ice-cream-item {
  display: flex;
}

.best-ice-cream-container {
  width: 540px;
}

.best-ice-cream-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.best-ice-cream-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.best-ice-cream-slider {
  position: relative;
  height: 554px;
  width: 350px;
}

.slider-list {
  position: absolute;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  position: relative;
  width: 100px;
  height: 150px;
  margin: auto 20px;
}

.slider-substrate {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 50%;
  transform: translateY(-50%);
  background: #FFCBD8;
  border-radius: 500px;
  z-index: 1;
  opacity: 0.4;
}

.slider-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.slider-controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  z-index: 3;
}

.slider-item-current {
  width: 306px;
  height: 507px;
  margin: 21px;
  margin-right: 40px;
  order: -1;
}

.slider-item-current .slider-img {
  opacity: 1;
}

.slider-item-current .slider-substrate {
  height: 312px;
  width: 312px;
  opacity: 1;
}

.slider-button {
  position: relative;
  width: 38px;
  height: 38px;
  color: #FCFCFC;
  cursor: pointer;
  background: rgba(252, 252, 252, 0.3);
  border: 3px solid #FCFCFC;
  border-radius: 26px;
  padding: 0;
}

.slider-button-svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.slider-prev {
  transform: rotate(180deg);
}


.slider-pagination {
  position: absolute;
  top: 100%;
  transform: translateY(-100%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 52px;
  font-size: 0;
  line-height: 0;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  background-color: rgba(252, 252, 252, 0.3);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-current {
  background-color: rgba(252, 252, 252, 0.9);
}

.best-ice-cream-social-container {
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translateX(-100%) translateY(-100%);
}

.social-list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 108px;
  padding: 0;
  margin: 0;
}

button-social-link {
  display: block;

}

.button-social-link {
  display: block;
  position: relative;
  background-color: #FEAFC3;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
  border-radius: 20px;
  padding: 12px;
  color: #FCFCFC;
}

.button-social-link:hover{
  background-color: #242424;
}

.button-social-link:active{
  background: #2D3440;
  border-radius: 24px;
}



.button-social-link:focus{


  background-color: #2D3440;
  outline: 2px solid  #242424;
  border-radius: 24px;
}




.button-social-link:disabled{
  background: #2D3440;
  border: 2px solid #2D3440;
  border-radius: 24px;
}

  /* .social-telegram {
  color: #FCFCFC;


}

.social-vk {
  color: #FCFCFC;

}

.social-youtube {
  color: #FCFCFC; */




.promotions-header {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  margin: 80px 0 55px 0;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.promotions-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: left;
  list-style-type: none;
}

.promotions-item {
  display: flex;
  background-color: #FF7799;
  width: 534px;
  border-radius: 16px;
  padding: 0 0 0 36px;


}

.promotions-item-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 36px 0 28px 0;
}

.promotions-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 28px 0;
}

.popular-ice-cream-heder {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  margin: 81px 0 107px 0;
}


.catalog-ice-cream-list {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(4, 270px);
  margin: 0 0 16px 0;
  padding: 0;
  gap: 30px;
}

.catalog-ice-cream-item {
  width: 190px;
  background-color: #FCFCFC;
  border-radius: 8px;
  margin-bottom: 61px;
  padding: 133px 40px 24px 40px;
  position: relative;
}

.catalog-ice-cream-item:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.catalog-ice-cream-img {
  clip-path: circle(40% at center center);
  position: absolute;
  top: -85px;
  width: 217px;
  height: 217px;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.catalog-ice-cream-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin: 0;
}

.catalog-ice-cream-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  margin: 8px 0 0 0;
  color: #565C66;

}

.catalog-price-cart {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.catalog-ice-cream-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: auto 0;
}

.production {
  background-image: url("../images/index/wafer.jpg");
  border-radius: 22px;
  margin: 80px 0 80px 0;
  padding: 24px;
  background-repeat: no-repeat;
  background-size: cover;
}

.production-wrapper {
  width: 1042px;
  background-color: #FCFCFC;
  border-radius: 16px;
  margin: 0;
  padding: 56px 40px;


}

.production-header {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  margin: 0 0 56px 0;
  padding: 0;
}

.production-list {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: 505px 505px;
  grid-template-rows: 66px 66px;
  column-gap: 32px;
  row-gap: 40px;
  list-style-type: none;
}

.production-item {
  display: flex;
  justify-content: space-between;


}

.production-icon {
  min-width: 48px;
}

.production-ice-cream {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  margin: 0;
  width: 442px;
}

.blog-subscription-wrapper {
  display: flex;
  justify-content: space-between;

}

.blog {
  background-image: url("../images/index/blog.jpg");
  background-repeat: no-repeat;
  width: 538px;
  background-size: 100%;
  border-radius: 16px;
  padding: 32px 0 67px 32px;
  background-position: center;
}

.blog-news {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #565C66;
  margin: 0;
  margin-bottom: 12px;
}

.blog-infor {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  width: 303px;
  margin: 0;

}

.subscription {
  background-image: url("../images/index/mail.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 558px;
  border-radius: 22px;
  padding: 6px;
}

.subscription-wrapper {
  width: 507px;
  background: #FFFFFF;
  border-radius: 22px;
  margin: 0;
  padding: 26px;
}

.subscription-news {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  margin: 0 0 38px 0;
}

.subscription-field {
  width: 296px;
  margin-right: 10px;
}

.delivery {
  background-image: url("../images/index/delivery.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 16px;
  display: flex;
  margin: 80px 0 80px 0;
  background-position: center;
}

.delivery-container {
  display: block;
  flex-wrap: wrap;
  margin: 167px 135px 163px 100px;
}

.delivery-header {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  width: 356px;
  margin: 0 0 24px 0;
}


.delivery-terms {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  width: 371px;
  margin: 0;

}

.delivery-address-container {
  width: 500px;
  background-color: #FCFCFC;
  margin: 64px 64px 64px 0;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 15px 40px rgb(45 52 64 / 12%);
}

.delivery-form {
  display: grid;
  grid-template-columns: 117px 287px;
  grid-template-rows: 76px 76px 62px;
  gap: 16px;
}

.delivery-form p {
  margin: 0;
}

.delivery-form-label {
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 8px;
}

.delivery-appointment-form-date {
  display: flex;
  flex-direction: column;
}

.delivery-form-phone {
  display: flex;
  flex-direction: column;
}

.delivery-form-address {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
}

.delivery-form-button {
  grid-column: 1 / -1;
  justify-self: center;
  margin-top: 10px;
}

.delivery-address {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  margin: 0 0 36px 0;
  padding: 0;
}

.delivery-icon {
  min-width: 12px;
  border: 1.53333px
}

.contacts {
  background-image: url("../images/index/Address.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-radius: 16px;
  padding: 20px;
  background-position: center;
}

.contacts-container {
  width: 263px;
  background-color: #FCFCFC;
  margin: 44px;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 15px 40px rgb(45 52 64 / 12%);
}

.contacts-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  margin: 0;
}

.contacts-address-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  margin-top: 12px;
  margin-bottom: 24px;
}

.contacts-phone-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  font-style: normal;
  margin: 0;
  margin-bottom: 12px;
}

.contacts-phone {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  margin: 0;
}

.contacts-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #565C66;
  margin: 0;
  margin-bottom: 32px;
}

.page-footer-container {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  padding: 44px 0;
  justify-content: space-between;
}


.company-information-list {
  display: grid;
  list-style-type: none;
  width: 356px;
  padding: 0;
  margin: 0;
  grid-template-columns: 152px 182px;
  grid-template-rows: 20px 20px;
  grid-row-gap: 8px;
  margin-left: 125px;
}


.company-information-item-bold {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  width: 174px;
  position: relative;

}

.company-information-heart {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -23px;

}

.company-information-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

}

.about-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #2D3440;
}

.company-information-container {
  font-style: normal;
}

.page-footer-logo-container {
  max-width: 193px;
}






/* Catalog */
.navigation-link-current {
  color: #FCFCFC;
  background-color: #FF2F64;
  border-radius: 50px;
}


.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 823px;
  margin-bottom: 95px;
  gap: 16px;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
}

.catalog-filter-list {
  list-style-type: none;
}

/* Select */
.catalog-filter-group-sort {
  width: 196px;
}

.select-control {
  width: 100%;
  padding: 8px 16px;
  padding-right: 48px;
  font: inherit;
  font-size: 14px;
  line-height: 20px;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  background-image: url("../images/selecter.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
  border: none;
}
/* Range */
.catalog-filter-group-price {
  width: 196px;
}

.range {
  display: flex;
  flex-direction: column;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  width: 196px;
  height: 36px;
}

.range-scale {
  position: relative;
  height: 2px;
  width: 164px;
  margin: auto;
  background-color: rgba(86, 92, 102, 0.3);
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #565C66;
}

.range-toggle {
  position: absolute;
  width: 16px;
  height: 16px;
  background: #FCFCFC;
  border: 6px solid #2D3440;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

.toggle-min {
  top: -7px;
  left: -9px;
}

.toggle-max {
  top: -7px;
  right: -12px;
}

.range-input {
  width: 30px;
  padding: 0;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Fat */
.catalog-filter-group-fat {
  width: 383px;
}

.catalog-filter-list-fat {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 8px 24px;
  margin: 0;
  list-style: none;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 18px;
}

.catalog-filter-item-fat {
  position: relative;
  font-size: 14px;
  line-height: 20px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 0;
  width: 12px;
  height: 12px;
  border: 2px solid #242424;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  margin: auto;
  width: 6px;
  height: 6px;
  background-color: #242424;
  border-radius: 50%;
  content: "";
}

/* Topping */

.catalog-filter-group-topping {
  width: 604px;
}

.catalog-filter-list-topping {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 10px 24px;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 18px;
}

.catalog-filter-item-topping {
  font-size: 14px;
  line-height: 20px;
}

.control {
  position: relative;
  display: block;
  padding-left: 22px;
}

.control-input[type="checkbox"]:not(checked) + .control-mark::after {
  background-image: url(../images/uncheckrd.svg);
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 3px;
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  background-image: url(../images/checked.svg);
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 3px;
}

.cart-button {
  color: #FCFCFC;
  background-color: #FF2F64;
  border-radius: 26px;
  align-items: center;
  width: 32px;
  overflow: hidden;
  position: relative;
  min-height: 32px;
  border-style: none;
  /* outline: 4px solid  rgba(252, 252, 252, 0.5);
  border-radius: 4rem; */

}

.cart-button:hover {
  background-color: #FCFCFC;
  border: 2px solid #FF2F64;
  color: #2D3440;
}

.cart-button:focus {
  background-color: #FF2F64;
  border: 2px solid #2D3440;
  color: #FCFCFC;
}

.cart-button:active {
  background-color: #FFCBD8;
  border: 2px solid #FF2F64;
  color: #2D3440;
}

.cart-button:disabled {
  background-color: #B9B9B9;
  border-style: none;
  color: #585656;
}

.navigation-logo {
  display: flex;
  align-items: center;
  width: 137px;
  height: 56px;
  margin: auto 16px auto 0;
}

.breadcrumbs {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.breadcrumbs-link-current {
  text-decoration: underline;
}

.breadcrumbs-link-icon {
  margin-left: 11px;
  margin-right: 5px;
}

.breadcrumbs-header-ice-cream {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.select-control {
  font-size: 14px;
  line-height: 20px;
}

.button-catalog {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 20px;
  width: 185px;
  height: 40px;
  color:#2D3440;
  margin-top: 30px;
}

.button-catalog:hover {
  background: #FCFCFC;
  outline:  2px solid rgba(252, 252, 252, 0.3);
}

.button-catalog:active {
  background: rgba(252, 252, 252, 0.5);
  border: none;
}

.button button-all {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FCFCFC;
  background-color: #FF2F64;

 /* box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);  */
}

.catalog-navigation-container {
  display: flex;
  justify-content: space-between;
  padding: 41px 0;
}

.catalog-fake-container {
  width: 152px;
}

.catalog-pagination {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 168px;
}

.catalog-pagination-item {
  width: 24px;
  margin: auto 0;
  text-align: center;
  display: block;
  min-height: 24px;
}

.catalog-pagination-link {
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;

}

.pagination-current {
  background-color: #FCFCFC;
  border-radius: 76px;
  min-height: 20px;
  padding: 2px 6px;
}

.htmlacademy-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #2D3440;
}

.line {
  width: 1170px;
  border: 1px solid rgba(252, 252, 252, 0.3);

}



.navigation-item {
  position: relative;
}

.popover-hide{
  display: none;
}

.popover {
  position: absolute;
  z-index: 5;
  box-sizing: border-box;
  font-family: "Inter";
  color: #242424;
  background-color: #ffffff;
  box-shadow: 0 18px 40px rgba(79, 70, 60, 0.16);
  border-radius: 4px;
}

.popover-cart{
  top: 76px;
  right: 0;
  width: 441px;
  padding: 48px;
}

.popover-title{
  margin: 0 0 32px 0;
}
.popover-cart-list{
  list-style: none;
  margin: 0 0 32px 0;
  padding: 0 0 8px 0;
  border-bottom:  1px solid #E7E7E7;
}

.popover-cart-item{
  display: flex;
  margin-bottom: 24px;
}

.popover-cart-description{
  margin: 0;
  display: flex;
  margin-right: 46px;
  min-width: 180px;
}

.popover-cart-img{
  width: 46px;
  height: 46px;
  clip-path: circle(40% at center center);
  margin-right: 16px;
}

.popover-cart-description-header{
  margin: 0;
  font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.popover-cart-weight-price{
  font-size: 14px;
  line-height: 20px;
  color: #B9B9B9;
}

.catalog-ice-cream-price{
  min-width: 80px;
  margin-right: 27px;
  font-weight: 700;
font-size: 18px;
line-height: 22px;
}

.cart-item-remove-button{
  border-style: none;
  background-color: #FFFFFF;
  padding: 0;
  cursor: pointer;
}

.popover-cart-wrapper{
  display: flex;
  justify-content: space-between;
}

.popover-cart-total-price{
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin: auto 0;
}

.popover-empty{
  width: 288px;
  padding: 48px 0;
}

.popover-title-empty{
  font-size: 24px;
line-height: 30px;
text-align: center;
margin: 0;
}

.popover-news{
  top: 76px;
}

.popover-news-header{
  font-weight: 700;
font-size: 14px;
line-height: 20px;
margin: 8px 16px 0 16px;
padding: 8px 0 12px 0;
border-bottom: 1px solid #B9B9B9;
}

.navigation-news-list{
  margin: 0;
  padding: 2px 0 8px 0;
  list-style: none;
}

.navigation-news-item{
  margin: 8px 16px;
  min-width: 106px;
}

.navigation-news-item-list{
  display: block;
  font-family: "Inter", sans-serif;
  line-height: 20px;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
}

.navigation-news-item-first{
  cursor: none;
}

.popover-search{
  top: 76px;
  right: 0;
}

.popover-search-form{
  padding: 24px 16px;
}

.popover-entrance{
  top: 76px;
  right: 0;
}

.popover-entrance{
  padding: 48px 48px 52px 48px;
}

.popover-entrance-header{
  margin-top: 0;
  margin-bottom: 32px;
}

.popover-entrance-form-field{
  margin-bottom: 16px;
  width: 324px;
}

.popover-entrance-control{
  padding-top: 16px;
  display: flex;
}

.popover-entrance-link{
  font-size: 14px;
line-height: 20px;
color: #2D3440
}

.popover-entrance-wrapper{
  margin-left: 23px;
}


.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px;
  background-color: #ffffff;
  border-radius: 8px;
}

.modal-title{
  margin: 0;
  margin-bottom: 32px;
  font-weight: 700;
font-size: 24px;
line-height: 30px;
}

.modal-feedback {
  width: 442px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 32px;
  right: 32px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  background-image: url("../images/cart-delete.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-form-field{
  width: 412px;
  margin-bottom: 16px;
}

.modal-form-big-field{
  height: 123px;
}

.button-modal{
  display: block;
  margin-left: auto;
  margin-top: 16px;
}

.modal-container-close {
  display: none;
}
